@import '~assets/scss/colors';
@import '~assets/scss/sizes';

.BookListItem {
  background-color: $text-background-color;
  border-radius:    $small--2x;
  margin-bottom:    $small;
  padding:          $small--1x;
  user-select:      none;
}

.BookListItem__option {
  margin: 0 $medium;
}

.BookListItem__option-container {
  display:          flex;
  justify-content:  center;
  width:            100%;
}
