@import '~assets/scss/colors';
@import '~assets/scss/sizes';

.BookListItem {
  border:         $small--3x solid $secondary-color;
  border-radius:  $small--2x;
  display:        inline-block;
  margin:         0 $small;

  button {
    height: 160px !important;
    width:  120px !important;
  }
}

.BookListItem--selected {
  border-color: $selected-color;
}

.BookListItem__cover-image {
  height: 160px;
  width:  120px;
}

.BookListItem__cover-image-container {
  display:          flex;
  justify-content:  center;
}
