@import '~assets/scss/colors';

.App {
  display:    flex;
  flex-flow:  column;
  height:     100%;
  width:      100%;
}

.App__content {
  background-color: $secondary-background-color;
  background:       linear-gradient(135deg, $secondary-background-color, $primary-background-color);
  display:          flex;
  height:           100%;
  overflow:         hidden;
  width:            100%;
}
