@import '~assets/scss/colors.scss';

.App {
  display:    flex;
  flex-flow:  column;
  height:     100%;
  width:      100%;
}

.App__content {
  background-color: $background-color;
  height:           100%;
  width:            100%;
}
