@import '~assets/scss/colors';
@import '~assets/scss/sizes';

.UnfinishedBookList {
  color:  white;
  margin: $small;
}

.UnfinishedBookList__title {
  background-color:         $dark-color;
  border-top-left-radius:   $small--1x;
  border-top-right-radius:  $small--1x;
  font-size:                $medium--1x;
  margin-bottom:            $small--1x;
  padding:                  $small--1x;
}
