$background-color:  #0496FF;
$primary-color:     #031A6B;
$secondary-color:   #2541B2;
$selected-color:    #FF6B35;
$warning-color:     #F03A47;

$text-background-color: #EFEFEF;
$text-color:            #343434;
