@import "~assets/scss/sizes";

.NewBookForm__row {
  display:          flex;
  justify-content:  space-between;
}

.NewBookForm__row--short {
  align-items:      center;
  display:          flex;
  justify-content:  flex-start;
}

.NewBookForm__field {
  margin: 0 $medium;
}

.NewBookForm__field--hidden {
  visibility: hidden;
}
