$dark-color:      #070707;
$light-color:     #e8f0ff;
$primary-color:   #07BEB8;
$secondary-color: #c1eeff;
$selected-color:  #ff6b35;
$warning-color:   #f03a47;

$text-background-color: #efefef;
$text-color:            #343434;
