$dark-color:      #070707;
$light-color:     #e8f0ff;

$primary-background-color:   #07beb8;
$secondary-background-color: #c1eeff;

$primary-color:   #054a91;
$secondary-color: #3e7cb1;

$selected-color:  #ff6b35;
$warning-color:   #f03a47;

$text-background-color: #efefef;
$text-color:            #343434;
