$background-color:  #0496ff;
$primary-color:     #031a6b;
$secondary-color:   #2541b2;
$selected-color:    #ff6b35;
$warning-color:     #f03a47;

$text-background-color: #efefef;
$text-color:            #343434;
