@import '~assets/scss/sizes';

.BookCatalog {
  display:          flex;
  justify-content:  center;
  width:            100%;
}

.BookCatalog__content {
  max-width:  $max-content-width;
  width:      100%;
}

.BookCatalog__title {
  color:        black;
  font-size:    $medium--2x;
  font-weight:  bold;
  user-select:  none;
}
