@import '~assets/scss/sizes';

.BookCatalog {
  display:          flex;
  justify-content:  center;
  width:            100%;
}

.BookCatalog__content {
  width:  $max-content-width;
}

.BookCatalog__header {
  align-items:      center;
  display:          flex;
  justify-content:  space-between;
  padding:          $medium ($large--1x + $small);
}

.BookCatalog__title {
  color:        black;
  font-size:    $medium--2x;
  font-weight:  bold;
  user-select:  none;
}
