@import '~assets/scss/colors';
@import '~assets/scss/sizes';

.BookCatalog {
  background-color: $secondary-background-color;
  background:       linear-gradient(135deg, $secondary-background-color, $primary-background-color);
  display:          flex;
  height:           100%;
  justify-content:  center;
  width:            100%;
}

.BookCatalog__content {
  max-width:  $max-content-width;
  width:      100%;
}

.BookCatalog__title {
  color:        black;
  font-size:    $medium--2x;
  font-weight:  bold;
  user-select:  none;
}
