html, body {
    cursor:                 default;
    font-family:            'Roboto', 'Helvetica', 'Arial', sans-serif;
    height:                 100%;
    margin:                 0;
    width:                  100%;
}

#app {
    height:                 100%;
    width:                  100%;
}

/* Removes Underline on Route Links (React-Router) */
a {
    text-decoration:        none;
}

.user-select--none {
    -moz-user-select:       none;
    -webkit-user-select:    none;
    -ms-user-select:        none;
    user-select:            none;
}
