@import '~assets/scss/colors';
@import '~assets/scss/sizes';

.Header {
  align-items:      center;
  background-color: $dark-color;
  color:            white;
  display:          flex;
  height:           $large--2x;
  width:            100%;
}

.Header__back-button {
  cursor:   pointer;
  display:  flex;
  margin:   0 $small--1x;

  svg {
    transition: none !important;
  }
}

.Header__back-button--disabled {
  visibility: hidden;
}

.Header__back-icon {
  color:  white !important;
  zoom:   150%;
}

.Header__content {
  display:          flex;
  justify-content:  space-between;
  max-width:        $max-content-width;
  width:            100%;
}

.Header__content-container {
  display:          flex;
  justify-content:  center;
  width:            100%;
}

.Header__title {
  cursor:       default;
  font-size:    $medium--2x;
  user-select:  none;
}
