@import '~assets/scss/colors';
@import '~assets/scss/sizes';

.BookListItem {
  background-color: $text-background-color;
  border:           $small--3x solid $dark-color;
  border-radius:    $small--2x;
  display:          inline-block;
  margin:           0 $small;

  button {
    height: 160px !important;
    width:  120px !important;
  }
}

.BookListItem--selected {
  border-color: $selected-color;
}

.BookListItem__cover-image {
  height: 160px;
  width:  120px;
}

.BookListItem__cover-image--hidden {
  display:  none;
}

.BookListItem__loading {
  background-color: $text-background-color;
  position:         absolute;
}
