@import "~assets/scss/sizes";

.BookForm__field {
  margin: 0 $medium;
}

.BookForm__field--hidden {
  visibility: hidden;

  label {
    transition: none !important;
  }
}

.BookForm__row {
  display:          flex;
  justify-content:  space-between;
}

.BookForm__row--centered {
  align-items:  center;
  display:      flex;
}
